.vote {
    text-decoration: none;
    float: left;
}

.comments {
   padding-top: 20px;
}

.comment .panel-heading{
    padding: 0px 29px 20px 24px;
}

.date, .sharp {
    float:left;
    padding: 0 10px;
}

.reply, .delete {
    float: right;
}

.replies {
    min-height: 20px;
    padding: 19px 0 0 19px;
    margin-bottom: 0px;
}

#content {
    margin-top: 70px;
}

.post{
    padding: 5px;
    overflow: hidden;
    margin-top: 15px;
    /*border-top: 1px solid #acdbdb;*/
}

.rate {
    background-color: #2ecc71;
}