<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Report</title>
    <link rel="stylesheet" href="style.css" type="text/css">

</head>
<body>
<div id="wrapper">
    <div id="tester"></div>

    <!--HEADER-->
    <div class="header">
        <table class="headertable">
            <tr>
                <td colspan="2">
                    <div class="title">
                        <h1>ООО «Атомприбор»</h1>
                    </div>
                </td>
            </tr>
            <tbody class="secondrow">
            <tr>
                <td>
                    <div id="logo">
                        <img alt="logo" title="logo" src="logo.png"/>
                    </div>
                </td>
                <td>
                    <div class="contacts">
                        <p><b>Факт. адрес:</b> г. Санкт-Петербург, пр. Обуховской обороны, 70 корп.2</p>

                        <p><b>Адрес для переписки:</b> BOX 1234, Санкт-Петербург, 190000</p>

                        <p><b>тел.:</b> (812)718-53-90, 718-53-91, 718-53-94, 718-53-96, 718-53-97 </p>

                        <p><b>факс:</b> (812)718-68-65</p>

                        <p><b>e-mail: </b><a href="mailto:lumex@lumex.ru">lumex@lumex.ru</a> <b>http: </b><a
                                href="http://lumex.ru">www.lumex.ru</a></p>
                    </div>
                </td>
            </tr>
            </tbody>
            <tr>
                <td colspan="2" style="text-align: center; line-height: 50px; height: 50px">
                    <h2>Протокол измерений</h2>
                </td>
            </tr>
        </table>

        <div id="headerDate">
            {{report_date|date:"dd.MM.yyyy, hh:mm"}}
            <p>{# some comment #}</p>

            <div class="clear"></div>
        </div>
    </div>
    <!--END HEADER-->


    <!--CONTENT-->
    <div class="page">
        <table class="data-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Element</th>
                <th>Date, Time</th>
                <th>Mass, pg</th>
                <th>Concentration</th>
            </tr>
            </thead>
            <tbody>
            {% for s in series %}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.element}}</td>
                <td>{{s.measurementTime|date:"dd.MM.yy, hh:mm"}}</td>
                <td>{{s.mass}}</td>
                <td>{{s.concentration}}</td>
            </tr>
            {% for m in s.measurements %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{m.creationTime|date:"dd.MM.yy, hh:mm"}}</td>
                <td>{{m.mass}}</td>
                <td>{{m.concentration}}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--END CONTENT-->


    <!-- FOOTER -->
    <div class="footer">
        <table class="footertable">
            <tbody class=footer-top>
            <tr>
                <td>Дата_________</td>
                <td style="text-align: right;">Михновец П.В. ______________</td>
            </tr>
            </tbody>
            <tbody class=footer-bottom>
            <tr>
                <td colspan="2">
                    Отчет создан ПО Eltherm версия 1.00.01 19 июня 2014г.
                    МГА-1000, № 574
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- END FOOTER -->


</div>
<!--wrapper-->

<div id="data" style="visibility:hidden;">

</div>
<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>

